@import url('utils/style-lib.css');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main{
    width: 75%;
}

#header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

#pfp{
    aspect-ratio: 1 / 1 ;
    width: 128px;
    height: 128px;
}

#bio{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--small);
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: top;
}

.subtitle{
    font-size: var(--extra);
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: var(--small);
}