@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*,input{
    font-family: "Fira Code", "Segoe UI Symbol", "Noto Sans Symbols", sans-serif;
    font-size: 18px;
}

body{
    display:flex;
    align-items:center;
    flex-direction: column;
    gap: 12px;
}

.grid{
    display:grid;
    grid-template-columns: repeat(3,232px);
    grid-template-rows: auto;
    width: fit-content;
    gap: 12px;
}
canvas{
    border-radius:12px;
    border: 2px solid #000;
}

input, input:focus{
    outline: none;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 6px 12px;
    background-color: white;
    color: black;
}

.label{
    margin: 0px 0px;
    transform: translateY(24px);
    background-color: white;
    width: fit-content;
    padding: 0px 6px 0px 6px;
    margin-left: 12px;
}

button{
    border-radius: 12px;
    border: 2px solid #000;
    padding: 6px 12px;
    background-color: black;
    color: white;
}

button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

red{
    color:#ff0000;
}

magenta{
    color:#ff00ff;
}

blue{
    color:#0000ff;
}

cyan{
    color:#00ffff;
}